@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --primary: #BF6933;
  --background : #FFF9F5;
  --background-gray: #F0F0F0;
  --light-black: #0F0F0F; 
  --purple:#1B1139;
  --card-text:#594F55;
  --green:#008000;
  
}

   